@import 'primeicons/primeicons.css';

.dlct-wrapper {
  .ml-4 {
    margin-left: 4px;
  }
  background-color: #fff;
  margin-right: 20px;
  margin-top: 20px;

  .p-toolbar {
    border: none !important;
  }
  .p-multiselect .p-multiselect-label {
    padding: 0.65rem 0.75rem;
    font-weight: 600;
  }
  .p-multiselect {
    height: 2.8em;
  }

  .p-button.p-button-sm {
    padding: 0.4rem 0.5rem;
    height: 2.7em;
  }

  .p-component {
    font-size: 0.9rem;
  }

  .p-menubar {
    border-radius: 0;
    font-weight: 500;
  }

  .p-menuitem-icon {
    font-weight: 500;
  }

  .router-link-active {
    background-color: #d4d4d8;
    border-radius: 4px;
  }
  .message{
    border: solid #bfdbfe;
    border-width: 1px;
    color: #2563eb;
    background: rgba(239, 246, 255, 0.95);
    padding: 0.5rem 0.75rem;
    width: 100%;
  }
  .dlct-form {
    padding: 20px;

    &-item {
      margin-bottom: 10px;
      display: flex;
      gap: 20px;
      justify-content: space-between;
      max-width: 700px;

      label {
        font-weight: bold;
        font-size: 14px;
      }
    }
    .p-multiselect{
      width: 320px;
    }
    .highlight{
      color: #d96554;
    }
  }

  .p-datatable-tbody > tr {
    &.highlight-error-fatal {
      padding: 10px;
      background-color: rgb(253, 232, 232);
    }

    &.highlight-error-warning {
      padding: 10px;
      background-color: rgb(253, 252, 232);
    }

    &.highlight-error-deprecated {
      padding: 10px;
      background-color: rgb(245, 245, 244);
    }

    &.highlight-error-info {
      padding: 10px;
      background-color: aliceblue;
    }

    &.highlight-error-parse {
      padding: 10px;
      background-color: rgb(255, 240, 255);
    }
  }

  .menu-page {
    padding: 20px;

    .info {
      font-size: 16px;
    }
  }

  .p-paginator-element {
    min-width: 2rem !important;
    height: 2rem !important;
  }

  .p-dropdown {
    height: 2rem !important;

    span {
      align-self: center !important;
    }
  }

  .table-header {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }

  .p-column-title {
    color: #4a4e56;
  }

  .log-table {
    .p-datatable-header {
      padding: 10px;
      border: 1px solid #e5e7eb;
    }
  }

  .p-datatable > .p-datatable-wrapper,
  .dlct-form,
  .menu-page {
    border: 1px solid #e5e7eb;
  }

  .p-datatable .p-datatable-tbody > tr > td {
    padding: 0.7rem 0.8rem;
    border: 1px solid #f4f4f5;
  }
}

.notice-success {
  margin-left: 0px;
}
.dlct-error-msg span{
  background: rgba(254, 242, 242, 0.95);
  border-width: 1px;
  padding: 5px;
  color: #dc2626;
}
.p-listbox{
  min-width: 350px;
}
.query-log-list {
  display: flex;
  justify-content: space-between;
}
.query-trace li{
  border: 1px solid #e5e7eb;
  padding: 5px;
  margin-bottom: 0;
}
.p-tabview-nav-link ,.p-accordion-header-action{
  border-radius: 0px;
}
.p-tabview-panels {
  padding: 0px;
}
li.p-tabview-header{
  margin-bottom: 0px;
}
