@import 'primeicons/primeicons.css';

//@font-face {
//  font-family: 'primeicons';
//  font-display: block;
//  src: url('./fonts-test/primeicons.eot');
//  src: url('./fonts-test/primeicons.eot?#iefix') format('embedded-opentype'), url('./fonts-test/primeicons.woff2') format('woff2'), url('./fonts-test/primeicons.woff') format('woff'), url('./fonts-test/primeicons.ttf') format('truetype'), url('./fonts-test/primeicons.svg?#primeicons') format('svg')!important;
//  font-weight: normal;
//  font-style: normal;
//}

.dlct-wrapper{
  background-color: #fff;
  margin-right: 20px;
  margin-top: 20px;
  .p-toolbar{
    border: none!important;
  }
}

